{% extends "main.html" %}
{% block content %}
<h1>Add Item</h1>
<form action="{{url_for('addItem')}}" method="post">
	<div class="form-field-container">
		<label for="name">Name</label><br>
		<input type="text" name="name">
	</div>
	<div class="form-field-container">
		<label for="description">Description</label><br>
		<textarea name="description"></textarea>
	</div>
	{% if categories %}
	<div class="form-field-container">
		<label for="category">Category</label><br>
		<select name="category">
			{% for category in categories %}
				<option value="{{category.id}}">{{category.name}}</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}
	<input type="submit" value="Add">
</form>
{% endblock %}
