<header class="header">
	<div class="row">
		<h1><a href="/">Catalog App</a></h1>
		{% if logged_in %}
		{% else %}
		{% endif %}
		{% if logged_in %}
			<a href="{{url_for('gdisconnect')}}" class="button button--login">Logout</a>
		{% else %}
			<a href="{{url_for('showLogin')}}" class="button button--login">Login</a>
		{% endif %}

	</div>
</header>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="row">
		<div class="flash">
			<ul>
				{% for message in messages %}
				<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
{% endwith %}
